.register-container {
  margin-top: 50px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.register-form {
  width: 475px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  border-radius: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f1f1;
  gap: 18px;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.form-label {
  position: relative;
  left: 0;
}
.form-input {
  border-radius: 10px;
  width: 280px;
  height: 40px;
  padding-left: 10px;
  border: 0;
}
.form-button {
  flex-direction: column;
  display: flex;
  font-size: 13px;
  align-items: center;
}
.register-button {
  border: 0;
  height: 38px;
  width: 70px;
  background-color: rgb(106, 106, 222);
  color: white;
  transition: 0.3s;
}
.register-button:hover {
  cursor: pointer;
  background: none;
  color: black;
  border: 1px solid black;
}
